@page
@model MyAutoService.Pages.Users.IndexModel
@{
}
<form>
    <div class="border" style="background-color: white">
        <div class="row p-3">
            <div class="col-6">
                <h2 class="text-info">لیست مشتری های ما</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-info">
                    افزودن مشتری جدید
                    <i class="fas fa-plus fa-sm"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="border">
        <br />

        <div>
            <div class="border">
                <div style="height: 60px" class="container border border-secondary">
                    <div class="row">
                        <div class="col-11">
                            <div class="row" style="padding-top: 10px">
                                <div class="col-4">
                                    <input type="text" name="searchName" placeholder="نام" class="form-control" />
                                </div>
                                <div class="col-4">
                                    <input type="email" name="searchEmail" placeholder="ایمیل" class="form-control"/>
                                </div>
                                <div class="col-4">
                                    <input type="text" name="searchPhone" placeholder="تلفن" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row" style="padding-top: 10px; padding-left: 15px">
                                <button type="submit" name="submit" class="btn btn-info form-control">
                                    بیاب
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @if (Model.UsersListViewModel.ApplicationUserList.Count > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(m => m.UsersListViewModel.ApplicationUserList[0].Name)

                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.UsersListViewModel.ApplicationUserList[0].PhoneNumber)

                        </th>
                        <th>

                            @Html.DisplayNameFor(m => m.UsersListViewModel.ApplicationUserList[0].Email)
                        </th>
                        <th>مدیریت ماشین ها</th>
                        <th></th>
                    </tr>
                    @foreach (var user in Model.UsersListViewModel.ApplicationUserList)
                    {
                        <tr>
                            <td>
                                @user.Name
                            </td>
                            <td>
                                @user.PhoneNumber
                            </td>
                            <td>
                                @user.Email
                            </td>
                            <td>
                                <a class="btn btn-outline-success" asp-page="/Cars/Index" asp-route-userId="@user.Id">
                                    <i class="fas fa-car fa-sm"></i>
                                </a>
                                
                            </td>
                            <td style="width: 200px">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-primary" asp-page="Edit" asp-route-Id="@user.Id">
                                        <i class="fas fa-edit fa-sm"></i>
                                    </a>
                                    
                                    <a class="btn btn-outline-danger" asp-page="Delete" asp-route-Id="@user.Id">
                                        <i class="fas fa-trash fa-sm"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="5" class="text-left">
                            <div page-model="@Model.UsersListViewModel.PagingInfo" 
                                 page-action="Index" 
                                 page-class="btn border"
                                 page-class-selected="btn btn-info active"
                                 page-class-normal="btn btn-light"
                                 class="btn-group">
                            </div>
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <div>کاربری یافت نشد</div>
            }
        </div>
    </div>
</form>
